<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Notes</h1>
	<div class="col-md-4">
	</div>

    <table class="table table-hover">
		<tr>
		    <th>Name</th>
		    <th>Category</th>
		    <th>Owner</th>
		    <th>Date</th>
		</tr>  
    	<tr th:each = "note : ${notes}">
    		<td th:text="${note.noteName}"></td>
    		<td th:text="${note.category.name}"></td>
    		<td th:text="${note.ownerName}"></td>
    		<td th:text="${note.noteCreationDate}"></td>
    		<td sec:authorize="hasAuthority('OWNER')" ><a class="btn btn-danger" th:href="@{/delete/{id}(id=${note.noteId})}">Delete</a></td>
    		<td sec:authorize="hasAuthority('OWNER')" ><a class="btn btn-warning" th:href="@{/edit/{id}(id=${note.noteId})}">Edit</a></td>
    		<td sec:authorize="hasAuthority('OWNER')" ><a class="btn btn-primary" th:href="@{/viewnote/{id}(id=${note.noteId})}">View</a></td>
    	</tr>
     </table>
     
     <a class="btn btn-success" href="/add">Add new note</a>
     
</body>
</html>